<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="JE" providerName="Npgsql" connectionString="Server=webblabb.miun.se;Port=5432;Database=interaktiva_og;User Id=interaktiva_og;Password=stortorget;SslMode=Require;trustServerCertificate=true;Pooling=true;MinPoolSize=1;MaxPoolSize=20;ConnectionLifeTime=15;" />
  </connectionStrings>
</configuration>